<%= @posts.each  do |post| %>
    <div class="title">
        <h2 class="title"><%= link_to post.title, posts_path %></h2>
            <p class="date"><%=post.created_at.strftime("%B, %d, %Y") %></p>
        
        
    </div>


<% end %>